@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-background-primary: #09090b;
  --color-background-secondary: #18181b;
  --color-text-primary: #f4f4f5;
  --color-text-secondary: #a1a1aa;
  --color-border-primary: #27272a;
}
